/*
 * Keyframes
 */

@-webkit-keyframes bigger {
    0%{
        font-size: 30px;
    }
    
    100%{
        font-size: 50px;
    }
}

@-webkit-keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    
    100%{
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    
    100%{
        opacity: 1;
        transform: none;
    }
}

.m-scene{
    
    .scene_element{
        
        animation-duration: 0.25s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
        
    }
    
    .scene_element--fadein{
        animation-name: fadeIn;
    }
    
    .scene_element--fadeinup{
        animation-name: fadeInUp;
    }
    
    .scene_element--fadeinright{
        animation-name: fadeInRight;
    }
    
}