.about-detail{
	font-size: 20.5px;
	color: #eee;
	font-weight: 400;
    top: 50%;
	/*position: absolute;*/
	/*padding-left: 40px;*/
    /*line-height: 22px;*/
}

#about .section-item-title{
    background: rgba(0, 0, 0, 0.3);
}

.section-item-title, .section-item-detail{
	text-align: center;

}
.about .row:nth-child(4){
	margin-top: 90px;
}
.team{
	background: #ededed;
}

.team .lab-link{
    padding: 60px;
    display: block;
    background: #fff;
    background-size: 10em;
    background-position: center center;
    height: 400px;
    -webkit-transition: all 0.2s ease-in-out;
}

.team .lab-link:hover {
    background-size: 110%;
    -webkit-transition: all 0.2s ease-in-out;
}
.team .section-title{
    color: #222;
}
.team-item{
	background: #010101;
	margin-bottom: 50px;
	text-align: center;
}

.team-img{
	width: 100%;
}
.team-item-name{
	font-size: 19px;
	margin-bottom: 5px;
	padding-top: 35px;
    color: #fff;
}
.team-item-id{
	color: #a3a2a2;
	font-size: 15px;
	padding-bottom: 30px;
}

/*coursework*/
#coursework{
	background: #000;
    color: #fff;
}

#coursework .container{
	max-width: 1260px;
    padding-left: 100px;
    padding-right: 100px;
}

#coursework .post{
    width: 50%;
    float: left;
    background: #333;
}

#coursework .post a{
    padding: 60px;
    display: block;
    background-size: 120%;
    background-position: center center;
    height: 350px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
}

#coursework .post a:hover{
    text-decoration: none;
    background-size: 150%;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
}

#coursework .post h1{
    color: #fff;
    text-transform: uppercase;
}

#coursework .post h2{
    width: 90%;
    color: #babcca;
    font-size: 1.7em;
    line-height: 1.3em;
}

/*media queries*/
@media (max-width: 1080px) {

    #coursework .container{
        padding-left: 50px;
        padding-right: 50px;
    }

    #coursework .post{
        width: 100%;
        margin-bottom: 10px;
    }

    .team .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .about-detail {
        transform: translateY(25%);
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    .team .container{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 600px) {

    #coursework .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    #coursework .post a {
        height: auto;
        padding: 40px 20px 70px;
    }
}

@media (max-width: 500px) {
    .about-detail {
        transform: translateY(15%);
        font-size: 1.4em;
    }
}
