@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
    
}

@keyframes fadeInAlter{
    0%, 60%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
    
}

@keyframes bounceRight{
    0%, 100%{
        margin-left: 0;
    }
    
    50%{
        margin-left: 40px;
    }
    
}

@keyframes bounceLeft{
    0%, 100%{
        margin-right: 0;
    }
    
    50%{
        margin-right: 20px;
    }
    
}

@keyframes bounceUp{
    0%, 100%{
        margin-bottom: 0;
    }
    
    50%{
        margin-bottom: 10px;
    }
    
}

@keyframes bounceDown{
    0%, 100%{
        margin-top: 0;
    }
    
    50%{
        margin-top: 20px;
    }
    
}



html, body{
    overflow: hidden;
    font-family: 'Karla', sans-serif;
    background-color: #101010;
    animation: fadeIn 3s ease-out forwards;
}

a{
    color: #101010;
    transition: all 0.25s ease;
}

a:hover,
a:focus,
a:active{
    text-decoration: none;
    color: #676;
    
    transition: all 0.25s ease;
}

.big{
    font-size: 2em;
}

/*
 * Header
 */

header{
    height: 100vh;
    padding: 40px;
    background-color: #fff;
    color: #101010;
}

header >  .header-border{
    height: 100%;
    background-color: transparent;
    border: solid 2px #101010;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    animation: fadeInAlter 5s ease-out forwards;
}

header .header-title{
    font-size: 180px;
    text-transform: uppercase;
    display: inline-block;
    animation: fadeInAlter 5s ease-out forwards;
}

header a{
    text-decoration: none;
    font-size: 30px;
    transition: all 0.1s ease-in;
}

header a:hover,
header a:active,
header a:focus{
    color: #676;
    font-size: 31px;
}


header a:nth-child(2){
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}

header a:nth-child(2):hover{
    font-size: 31px;
}

header a:nth-child(3){
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

header a:nth-child(3):hover{
    font-size: 31px;
}

header a:nth-child(4){
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: bounceUp 0.4s ease-out forwards;
}

.down{
    position: absolute;
    bottom: 5px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounceDown 1s ease-out forwards;
    animation-iteration-count: infinite;
}

.up{
    position: absolute;
    top: 5px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounceUp 1s ease-out forwards;
    animation-iteration-count: infinite;
}

/*
 * About
 */

#about{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#about .about-info{
    margin-bottom: 40px;
}

#about .about-title{
    font-size: 50px;
}

#about .about-description{
    font-size: 20px;
}

#about .btn{
    border-radius: 0;
    border: 2px solid #101010;
    color: #101010;
    
    transition: all 0.25s ease;
}

#about .btn:hover, 
#about .btn:focus,
#about .btn:active{
    background-color: #676;
    border: 2px solid #676;
    color: #fff;
    transition: all 0.25s ease;

}

#about .big{
    color: #676;
}



