/*

    Colors

    Bright-Yellow - rgba(251, 201, 0,1);




/*Typography*/

html, body{
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
    color: #000;
    background-color: #0F0F0F;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.highlight{
    color: rgba(251, 201, 0,1);
}

/*Navbar*/

.navbar-default{
    background-color: #0F0F0F;
    padding: 0px 10px;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a {
    color: #eee;
    outline: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active{
    color: #aaa;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-brand{
    color: #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active{
    color: #aaa;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-collapse{
    text-align: center;
}

.navbar-default .navbar-toggle{
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus{
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
    
    background-color: #eee;
    height: 3px;
    
    /*when icon is clicked*/
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-toggle.collapsed .icon-bar{
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-toggle.collapsed .icon-bar-middle{
    width: 18px;
}

.navbar-default .navbar-toggle.collapsed .icon-bar-bottom{
    width: 15px;
}

.navbar-default .navbar-collapse{
    border-color: transparent;
    -webkit-box-shadow: none;
}

@media (min-width: 768px){
    
    .navbar-default{
        padding: 0px 40px;
        background-color: transparent;
    }
    
}

/*Header*/
#header{
    display: table;
    width: 100%;
    height: auto;
    padding: 250px 0;
    text-align: center;
    color: #101010;
    background-color: #0F0F0F;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#header .header-body{
    display: table-cell;
    vertical-align: middle;
    color: #eee;
}

#header .header-body .header-title {
    font-size: 30px;
}

#header .header-body .header-subtitle {
    font-size: 18px;
}

#header .typed{
    color: #eee;
    border: 2px solid #eee;
    padding-left: 10px;
    padding-right: 10px;
}

@media(min-width:768px) {
    #header {
        height: 100%;
    }

    #header .header-body .header-title {
        font-size: 40px;
    }

    #header .header-body .header-subtitle {
        font-size: 21px;
    }
}

@media(max-width:498px) {
    #header .header-body .header-title {
        font-size: 20px;
    }

    #header .header-body .header-subtitle {
        font-size: 14px;
    }
}

/*Sections*/
.content-section{
    padding: 100px 0;
    color: #eee;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -3px;
    position: absolute;
    padding: 0 10px;
    margin: 0;
    top: 0px;
    width: 100%;
    text-align: left;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.section-title.lower{
    color: #fff;
    letter-spacing: -1px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.section-text{
    font-size: 21px;
}

/*About*/
#about{
    position: relative;
}

.img-filler{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.img-filler > img{
    width: 100%;
    margin-bottom: 10px;
}

.img-caption{
    font-size: 16px;
}

/*My Work*/
#myWork .work-grid .work-section-title{
    font-size: 30px;
    margin: 20px 0;
}

#myWork .work-grid .work-item{
    width: 100%;
    padding: 0px 20px 20px 20px;
    border-top: 1px solid #333;
    color: #eee;
    
    -webkit-transition: all .3s cubic-bezier(.615, .19, .305, .91);
    transition: all .3s cubic-bezier(.615, .19, .305, .91);
    -webkit-transition-timing-function: cubic-bezier(.615, .19, .305, .91);
    transition-timing-function: cubic-bezier(.615, .19, .305, .91)
}

#myWork .work-grid .work-item:hover{
    background-color: rgba(251, 201, 0,1);
    color: #0F0F0F;
    -webkit-transition: all .3s cubic-bezier(.615, .19, .305, .91);
    transition: all .3s cubic-bezier(.615, .19, .305, .91);
    -webkit-transition-timing-function: cubic-bezier(.615, .19, .305, .91);
    transition-timing-function: cubic-bezier(.615, .19, .305, .91)
}

#myWork .work-grid .work-item:hover > .work-link{
    color: #0F0F0F;
    margin-left: 0;
    
    -webkit-transition: all .3s cubic-bezier(.615, .19, .305, .91);
    transition: all .3s cubic-bezier(.615, .19, .305, .91);
    -webkit-transition-timing-function: cubic-bezier(.615, .19, .305, .91);
    transition-timing-function: cubic-bezier(.615, .19, .305, .91)
}

#myWork .work-grid a:hover{
    text-decoration: none;
}

#myWork .work-grid .work-item .work-item-caption{
    width: 90%;
}

#myWork .work-grid .work-item .work-link{
    color: rgba(251, 201, 0,1);
    opacity: 1;
    margin-left: -1000px;
    
    -webkit-transition: all .3s cubic-bezier(.615, .19, .305, .91);
    transition: all .3s cubic-bezier(.615, .19, .305, .91);
    -webkit-transition-timing-function: cubic-bezier(.615, .19, .305, .91);
    transition-timing-function: cubic-bezier(.615, .19, .305, .91)
}

#myWork .work-grid .work-item .work-link:hover{
    opacity: 0.7;
    
    
}


/*Buttons*/
.btn{
    color: rgba(251, 201, 0,1);
    background-color: transparent;
    border-radius: 0;
    border: 4px solid rgba(251, 201, 0,1);
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 0;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active{
    background-color: rgba(251, 201, 0,1);
    color: #fff;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-lg{
    padding: 13px 30px;
}


@media(max-width:480px) {
    .btn-lg{
        padding: 10px 20px;
        font-size: 14px;
    }
}


