.header{
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	background-attachment: fixed;
	height: 100vh;
	text-transform: uppercase;
    
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.header-subtitle{
    text-transform: lowercase;
}

.header-subtitle .typed{
    text-transform: uppercase;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

